@use "reset";
@use "variables/global";
@use "themes/normal";
@use "themes/dark";

.app {
    // Шрифт по умолчанию
    font: var(--font-m);

    // Цвет шрифта
    color: var(--primary-color);

    // Цвет бэкграунда
    background: var(--bg-color);

    // Приложение на всю высоту браузера
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;

}