// Переменные

:root {
    // Шрифт
    --font-family-main: consolas, "Times New Roman", serif;

    // Размер шрифта M
    --font-size-m: 16px;

    // Высота линии шрифта M
    --font-line-m: 24px;

    // Объединяющая переменная M
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    // Размер шрифта L
    --font-size-l: 24px;

    // Высота линии шрифта L
    --font-line-l: 32px;

    // Объединяющая переменная L
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // Высота навбара
    --navbar-height: 50px;

    // Ширина сайдбара
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
}