.app.light {
    // Цвет бэкграунда
    --bg-color: #f5f6fa;
    // Цвет бэкграунда инвертированный
    --inverted-bg-color: #1e1e2f;

    // Главный цвет шрифта
    --primary-color: #1c1e21;
    // Второстепенный цвет шрифта
    --secondary-color: #555b6e;

    // Инвертированный главный цвет шрифта
    --inverted-primary-color: #f5f5f5;
    // Инвертированный второстепенный цвет шрифта
    --inverted-secondary-color: #c5c6ca;

    // Акценты (ссылки, кнопки)
    --accent-color: #2f80ed;
    --accent-hover: #1b62d1;
}